---
import { Image } from "astro:assets";
const { talk } = Astro.props;

const speaker = talk.attributes.speaker.data.attributes;
const location = talk.attributes.location.data.attributes;


---
<div class="talk">
  <div class="talk-image">
    {
      talk.attributes.image?.data?.attributes.url &&
      (
      <Image
          src={`${import.meta.env.STRAPI_URL}${
          talk.attributes.image?.data?.attributes.url
        }`}
        alt="Talk image"
        width="300"
        height="400"
        widths={[250, 350, 500, 750]}
        sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
      />
      )
    }
  </div>
  <div class="talk-info">
    <h3>{talk.attributes.name}</h3>
    <p class="talk-location">Location: {location.name}</p>
    <p class="time">Time: {talk.attributes.time}</p>
    <p>{talk.attributes.description}</p>
    <div class="duration-and-language">
      <p class="duration">Duration: <span>{talk.attributes.duration}  min</span></p>
      <p class="language">Language: <span>{talk.attributes.language}</span></p>
    </div>
    <div class="button">
      <a href={`/register`}>Buy Tickets</a>
    </div>
  </div>
</div>

<div class="speaker-info">
  {speaker.image?.data?.attributes.url && (
    <div class="speaker-image">
      <Image
        src={`${import.meta.env.STRAPI_URL}${speaker.image.data.attributes.url}`}
        alt={`Photo of ${speaker.name}`}
        width="400"
        height="300"
        widths={[250, 350, 500, 750]}
        sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
      />
    </div>
  )}

  <div class="speaker-details">
    <h4>Speaker: {speaker.name}</h4>
    <p>{speaker.description}</p>
  </div>
</div>


<style>

  .speaker-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .speaker-details {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .duration-and-language {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .talk {
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-evenly;
  }

  .talk-location, .duration-and-language span {
    font-weight: bold;
    color: rgb(218, 84, 7)
  }

  .talk-info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .button {
    margin-top: 2rem;
  }

</style>







