---
import { Image } from "astro:assets";
const { talk } = Astro.props;
---

  <div class="talk-image">
    {
      talk.attributes.image?.data?.attributes.url &&
      (
      <Image
          src={`${import.meta.env.STRAPI_URL}${
          talk.attributes.image?.data?.attributes.url
        }`}
        alt="Talk image"
        width="300"
        height="400"
        widths={[250, 350, 500, 750]}
        sizes="(max-width: 35em) 70vw, (max-width: 50em) 60vw, 30vw"
      />
      )
    }
  </div>
  <div class="talk-info">
    <h3>{talk.attributes.name}</h3>
    <p class="talk-location">Location: {talk.attributes.location.data.attributes.name}</p>
    <div class="time-and-date">
      <p class="talk-date">Date: {talk.attributes.date}</p>
      <p class="time">Time: {talk.attributes.time}</p>
    </div>
    <p>{talk.attributes.description}</p>
    <div class="button">
       <a href={`${import.meta.env.BASE_URL}/talks/${talk.id}`}>See more</a>

    </div>
  </div>
<style>

  .time-and-date {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 3rem;
  }

  .talk-info h3 {
    margin-bottom: 1.5rem;
  }
  
  .talk-location {
    font-weight: bold;
    color: rgb(218, 84, 7)
  }

  .talk-info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .time {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .button {
    margin-top: 2rem;
  }


</style>







